[submodule "Interpolation3D"]
  path = external/Interpolation3D
  url = https://github.com/yhoffmann/Interpolation3D.git
[submodule "cubature"]
  path = external/cubature
  url = https://github.com/yhoffmann/cubature.git
  branch = get-numEval
[submodule "Nucleus"]
  path = external/Nucleus
  url = https://github.com/yhoffmann/Nucleus.git
  branch = dev
[submodule "external/thread-pool"]
  path = external/thread-pool
  url = https://github.com/yhoffmann/thread-pool.git
